<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menu de Administración</title>
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <h1><i class="fas fa-school"></i> Administración</h1>
            </div>
            <nav class="menu">
                <a href="#" id="inicio-link"><i class="fas fa-home"></i> Inicio</a>
                <a href="#" id="nosotros-link"><i class="fas fa-users"></i> Nosotros</a>
                <a href="https://www.facebook.com/eiecbba/?locale=es_LA" target="_blank" id="red-social-link"><i class="fas fa-share-alt"></i> Red Social</a>
                <a href="#" id="horarios-link"><i class="fas fa-clock"></i> Horarios</a>
            </nav>
        </div>
    </header>

    <!-- Menú Desplegable -->
    <div class="sidebar">
        <button class="sidebar-toggle"><i class="fas fa-bars"></i></button>
        <nav class="sidebar-menu">
            <a href="usuarios.html"><i class="fas fa-user"></i> Estudiantes</a>
            <a href="Examenes.html"><i class="fas fa-file-alt"></i> Exámenes</a>
            <a href="AsignacionExamen.html"><i class="fas fa-tasks"></i> Asignación de Examen</a>
            <a href="configuracion.html"><i class="fas fa-cogs"></i> Configuración</a>
            <a href="preguntas.html"><i class="fas fa-question-circle"></i> Preguntas</a>
            <a href="Notas.html"><i class="fas fa-clipboard"></i> Notas</a>
            <a href="Seguimiento.html"><i class="fas fa-eye"></i> Ver Seguimiento</a>
        </nav>
    </div>

    <div class="capa"></div>
    <div id="informacion" class="d-none"></div>

    <button class="logout-button" onclick="logout()"><i class="fas fa-sign-out-alt"></i> Salir</button>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const sidebarToggle = document.querySelector('.sidebar-toggle');
            const sidebarMenu = document.querySelector('.sidebar-menu');
            const sidebar = document.querySelector('.sidebar');

            sidebarToggle.addEventListener('click', function() {
                sidebar.classList.toggle('active');
            });

            var enlacesMenu = document.querySelectorAll('.menu a');
            var divInformacion = document.getElementById('informacion');

            enlacesMenu.forEach(function(enlace) {
                enlace.addEventListener('click', function(event) {
                    if (enlace.id === 'red-social-link') {
                        return;
                    }
                    event.preventDefault();
                    var textoEnlace = enlace.textContent.trim();
                    divInformacion.classList.remove('d-none');
                    switch (textoEnlace) {
                        case 'Inicio':
                            divInformacion.innerHTML = `
                                <h2><i class="fas fa-info-circle"></i> Bienvenido a la Escuela de Idiomas del Ejército</h2>
                                <div class="video-container">
                                    <video controls>
                                        <source src="./videos/Video_EIE.mp4" type="video/mp4">
                                        Tu navegador no soporta la reproducción de videos.
                                    </video>
                                </div>
                                <div class="video-container">
                                    <video controls>
                                        <source src="./videos/Video2.mp4" type="video/mp4">
                                        Tu navegador no soporta la reproducción de videos.
                                    </video>
                                </div>
                                <div class="map-container">
                                    <h3><i class="fas fa-map-marker-alt"></i> Nuestra Ubicación</h3>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.6499401143034!2d-66.15077582364093!3d-17.378470250322796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e37403352222eb%3A0x6d291358991be7a3!2sEscuela%20de%20Idiomas%20del%20Ejército%20Filial%20Cochabamba!5e0!3m2!1ses-419!2sbo!4v1690292345678!5m2!1ses-419!2sbo" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>`;
                            break;
                        case 'Nosotros':
                            divInformacion.innerHTML = `
                                <div class="info-card">
                                    <h2><i class="fas fa-bullseye"></i> Misión</h2>
                                    <p>LA ESCUELA DE IDIOMAS DEL EJÉRCITO, PLANIFICARÁ, COORDINARÁ Y DESARROLLARÁ EL SISTEMA DE ENSEÑANZA, APRENDIZAJE DE IDIOMAS EXTRANJEROS Y NATIVOS EN SUS DIVERSAS FILIALES Y SUCURSALES DEL TERRITORIO NACIONAL PARA CAPACITAR A LOS RECURSOS HUMANOS DEL EJÉRCITO Y PERSONAL CIVIL EN EL MANEJO DE LAS LENGUAS CON ELEVADO NIVEL DE DOMINIO, A FIN DE CONTRIBUIR AL CUMPLIMIENTO DE LA MISIÓN DEL COMANDO DE INSTITUTOS MILITARES DEL EJÉRCITO EN EL CAMPO DE LA EDUCACIÓN.</p>
                                    <h2><i class="fas fa-eye"></i> Visión</h2>
                                    <p>CONSTITUIR EL CENTRO LÍDER EN LA CAPACITACIÓN DE RECURSOS HUMANOS DEL EJÉRCITO EN IDIOMAS EXTRANJEROS Y NATIVOS A NIVEL NACIONAL, LOGRANDO LA EXCELENCIA ACADÉMICA DEL PERSONAL MILITAR Y CIVIL EN EL SISTEMA DE ENSEÑANZA Y APRENDIZAJE QUE PERMITA INCREMENTAR LA EFICIENCIA Y COMPETITIVIDAD EN EL DESARROLLO DE SUS FUNCIONES EN EL ÁMBITO NACIONAL E INTERNACIONAL CON UN ALTO GRADO DE RESPONSABILIDAD, DIGNIDAD Y LIDERAZGO.</p>
                                </div>`;
                            break;
                        case 'Horarios':
                            divInformacion.innerHTML = `
                                <div class="info-card">
                                    <h2><i class="fas fa-calendar-alt"></i> Horario y Turno Mañana:</h2>
                                    <p><strong>Intensivo, Libro 1-24:</strong><br>07:30 hasta 12:30</p>
                                    <p><strong>Regular, Libro 1-24:</strong><br>07:30 hasta 10:00<br>10:00 hasta 12:30</p>
                                    <p><strong>Regular, Libro 13-24:</strong><br>07:30 hasta 10:00</p>
                                    <p><strong>Avanzado, Libro 25-30:</strong><br>07:30 hasta 10:00</p>
                                    <br>
                                    <h2><i class="fas fa-calendar-alt"></i> Horario y Turno Tarde:</h2>
                                    <p><strong>Intensivo, Libro 1-24:</strong><br>14:30 hasta 19:30</p>
                                    <p><strong>Regular, Libro 1-24:</strong><br>17:00 hasta 19:00</p>
                                    <p><strong>Avanzado, Libro 25-30:</strong><br>17:30 hasta 19:30</p>
                                    <br>
                                    <h2><i class="fas fa-calendar-alt"></i> Horario y Turno Noche:</h2>
                                    <p><strong>Intensivo, Libro 1-24:</strong><br>18:30 hasta 21:30</p>
                                    <p><strong>Regular, Libro 1-24:</strong><br>19:30 hasta 21:30</p>
                                    <p><strong>Avanzado, Libro 25-30:</strong><br>19:30 hasta 21:30</p>
                                </div>`;
                            break;
                        default:
                            divInformacion.innerHTML = '<p>Por favor, seleccione una opción del menú.</p>';
                            break;
                    }
                });
            });
        });

        function logout() {
            window.location.href = 'login.html';
        }
    </script>
</body>
</html>
